# Build
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Oo]ut/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.scc
*.sln.docstates

# Visual Studio
.vs/
*.rsuser

# NuGet
*.nupkg
*.snupkg
**/packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Test
[Tt]est[Rr]esult*/
*.trx
*.Coverage
*.coveragexml

# .NET Core
.DS_Store
Thumbs.db

# Rider
.idea/
*.sln.iml

# User-specific
*.userprefs
